body {
  margin: 0;
  padding: 0 0 10vh 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.5vw;
  word-break: break-all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.hide {
  display: none;
}
/* Blocks */
.container {
  max-width: 64vw;
  width: 100%;
  min-height: 25vw;
  margin: 2.1vw auto;
  min-height: 27.5vw;
  text-align: left;
}
.header {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  padding: 1vw 2vw;
  border-bottom: 0.1vw #000 solid;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  transition: 0.25s;
}
.card__wrapper {
  border: 0.1vw solid black;
  position: relative;
  display: inline-flex;
  padding: 1vw 1vw 5.3vw 1vw;
  min-height: 15vw;
  width: 15vw;
  margin: 0.5vw;
  text-align: left;
  border-radius: 1vw;
  z-index: 2;
  background: #fff;
}
.card__wrapper:hover {
  box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-0.1vw);
}
.card__wrapper.open {
  background-color: bisque;
}
.card__wrapper.open::before {
  content: "\2714";
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
  background: #0ede1f;
  border: none;
  font-size: 1.25vw;
  border-radius: 1vw;
  color: #fff;
  text-align: center;
}
.card__title {
  font-weight: bold;
}
.card__description,
.card__title {
  min-height: 3.125vw;
  max-width: 13vw;
}
.edit-select {
  min-height: 3.125vw!important;
  width: fit-content !important;
  border-radius: 1vw!important;
}
.edit-select::after {
  display: none;
}
.edited-priority {
  font-size: 1.5vw!important;
}
.edited-title,
.edited-description {
  background: transparent;
  border: none;
  border-bottom: 0.05vw #000 solid;
  font-size: 1vw;
  min-height: 2.125vw;
  margin: 0.5vw 0;
  width: 100%;
}
.edited-description {
  height: fit-content;
  resize: none;
  height: 4vw;
}
.card__edit {
  text-align: center;
  position: relative;
}
.card__edit:hover .extra-menu {
  display: block;
}
.card__priority,
.extra-img,
.ok {
  border: 0.1vw inset black;
  border-radius: 1vw;
  padding: 0.5vw;
  cursor: pointer;
}
.extra-img {
  min-width: 3vw;
  height: 3vw;
}
.extra-menu {
  position: absolute;
  display: none;
  text-align: left;
  transform: translateX(-1.8vw);
  cursor: context-menu;
}
.extra-menu > button {
  padding: 1vh;
  width: 6vw;
  font-size: 1.5vh;
  background-color: #ccc;
  outline: none;
  border: 0.1vw #000 solid;
}
.extra-menu__edit {
  border-top: none!important;
  border-bottom: none!important;
}
.extra-menu__delete {
  background-color: #f77!important;
  color: #fff;
}
.extra-menu__delete:hover {
  background-color: #f99 !important;
}
.extra-menu > button:hover {
  background-color: #eee;
  cursor: context-menu;
}
.card__down {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 12.7vw;
  margin: 1vw 0;
}
.select.hide {
  display: none;
}
.ok {
  display: none;
}
.ok.hide {
  display: block;
}
#cards-area {
  margin-top: 2vw;
}
.create-button {
  font-size: 1vw;
  border: 0.1vw solid black;
  border-radius: 1vw;
  padding: 0.5vw 2.5vw;
  background-color: #ccc;
  font-weight: 700;
  max-width: 15vw;
  outline: none;
  cursor: pointer;
}
.create-button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.ok:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s linear, color 0.3s linear;
}
#edit-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  font-size: 3vw;
}
#edit-menu:focus {
  display: none;
}
#edit-menu > form {
  border: 0.1vw solid black;
  width: 20vw;
  height: 30vw;
  padding: 1vw;
  position: absolute;
  text-align: center;
  background-color: #eee;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#edit-menu > .select {
  font-size: 1.5vw;
}
#edit-menu.hidden {
  display: none;
}
#edit-menu > form > * {
  width: 18vw;
  margin: 0.5vw 0;
}
#input-title.alert {
  border-color: #ff0000;
}
#input-title.alert::placeholder {
  color: #ff0000;
}
#menu > .select,
#edit-menu > form > .select {
  border: 0.1vw #000 solid;
}
.edit-menu__input {
  border: 0.1vw solid black;
  padding: 0.25vw;
  width: 18vw;
  resize: none;
}
.edit-menu__buttons {
  position: absolute;
  bottom: 1vw;
  margin: 0!important;
  display: flex;
  justify-content: space-between;
}
.edit-menu__btn {
  border: 0.1vw solid black;
  border-radius: 1vw;
  height: 3vw;
  background-color: #ccc;
  outline: none;
  cursor: pointer;
}
.edit-menu__btn:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.edit-menu__cancel {
  padding: 0.2vw 0.25vw;
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ccc;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 8vw;
  height: 1.5vw;
  line-height: 3;
  background: #ccc;
  overflow: hidden;
  border-radius: 0.25em;
  height: 2vw;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #000;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 1vh;
  font-size: 2vh;
  transform: translateY(-25%);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #fff;
}
.footer {
  flex: 0 0 auto;
  border-top: 0.1vw #000 solid;
  bottom: 0;
  width: 100vw;
  text-align: center;
  position: fixed;
  z-index: 999;
  font-size: 3vh;
  padding: 2vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
#menu {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5vw;
  width: 64vw;
}
#menu > * {
  width: 15vw!important;
  height: 2.5vw;
  border-radius: 1vw;
}
#search-priority {
  font-size: 1.25vw;
}
#search-status {
  font-size: 1.25vw;
}
#search-title {
  border: 0.1vw solid #000;
  border-radius: 1vw;
  padding: 0.25vw 0.5vw;
  width: 15vw;
}
#search-title img {
  width: 1vw;
  margin-bottom: -0.15vw;
}
.search-title__bar {
  font-size: 1vw;
  border: none;
  outline: none;
  height: 1vw;
  width: 10vw;
}
