// compress: true
@import "vars.less";

html {
  font-size: 25px;
}

body {
  margin: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Blocks */
@import "./blocks/container.less";
@import "./blocks/header.less";
@import "./blocks/card.less";
@import "./blocks/cards-area.less";
@import "./blocks/create-button.less";
@import "./blocks/edit-menu.less";
@import "./blocks/footer.less";
@import "./blocks/header.less";
@import "./blocks/menu.less";
@import "./blocks/search-priority.less";
@import "./blocks/search-status.less";
@import "./blocks/search-title.less";
