// main: ../index.less

.card__wrapper {
  border: 3px solid black;
  position: relative;
  display: inline-block;
  padding: 15px;
  padding-bottom: 30px;
  min-width: 300px;
  max-width: 300px;
  margin: 10px 50px;
}
.card__wrapper.open {
  background-color: bisque;
}
.card__text {
  margin-bottom: 40px;
}
.card__title {
  margin-bottom: 40px;
}
.card__description {
  min-height: 60px;
  max-width: 350px;
}

.card__edit {
  padding: 0 10px;
  text-align: center;
  position: relative;
}

.card__edit:hover .extra-menu {
  display: block;
}
.card__priority,
.extra-img,
.ok {
  border: 3px inset black;
  border-radius: 20px;
  padding: 5px;
}

.extra-menu {
  position: absolute;
  display: none;
  text-align: left;
  z-index: 1991;
}
.extra-menu > button {
  width: 50px;
  background-color: #ccc;
  outline: none;
  border: 2px #000 solid;
}
.extra-menu > button:hover {
  background-color: #eee;
}

.card__down {
  display: flex;
  justify-content: space-between;
}

.card__title.hide,
.card__description.hide,
.card__priority.hide,
.card__edit.hide,
.edited-title.hide,
.edited-description.hide,
.edited-priority.hide,
.ok {
  display: none;
}
.ok.hide {
  display: block;
}
